<section>
  <div class="container py-8">
    <h1>FAQ</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi praesentium quibusdam voluptate pariatur
      asperiores modi rerum harum alias nemo nulla illo, obcaecati in tempore quia dignissimos tenetur voluptatem animi
      impedit!
    </p>
  </div>
</section>

{% schema %}
{
  "tag": "section",
  "class": "section",
  "name": "FAQ",
  "settings": []
}
{% endschema %}
