{% comment %}
  Welcome to Shopify theme development!
{% endcomment %}

<div class="bg-lyra-primary h-8 p-8">
  <div class="">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia fuga aut, soluta obcaecati et veritatis magnam odio
    eos veniam, error reprehenderit harum tempora unde quod, laborum quibusdam nostrum cupiditate officiis.
  </div>
</div>
{% schema %}
{
  "name": "Hello World",
  "settings": [],
  "presets": [
    {
      "name": "Hello World Template",
      "category": "Demo"
    }
  ]
}
{% endschema %}
