{% comment %}
  Welcome to Shopify theme development!
{% endcomment %}

<div class="">home</div>
{% schema %}
{
  "name": "Hello World",
  "settings": [],
  "presets": [
    {
      "name": "Hello World Template",
      "category": "Demo"
    }
  ]
}
{% endschema %}
