<section>
  <div class="container py-8">
    <h1>Our Storyddd</h1>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur odit totam nostrum veniam cupiditate, tenetur
      itaque praesentium recusandae odio dignissimos veritatis vitae ratione eveniet, nisi optio distinctio ab animi
      neque?
    </p>
  </div>
</section>

{% schema %}
{
  "name": "Our Story",
  "tag": "section",
  "class": "section",
  "settings": []
}
{% endschema %}
