@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		/* Font Aileleri */
		--font-heading-family: 'Playfair Display', serif;
		--font-body-family: 'Inter', sans-serif;

		/* Renk Paleti */
		--color-lyra-primary: #c5a381;
		--color-lyra-bg: #fbf9f7;
		--color-lyra-text: #2d2d2d;
	}

	body {
		font-family: var(--font-body-family);
		@apply bg-lyra-bg text-lyra-text antialiased;
		font-size: 16px;
		font-weight: 400; /* Body genelde 400 (Regular) olur */
	}

	/* Başlıklar İçin Global Ayrım */
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: var(--font-heading-family);
		@apply font-normal tracking-tight leading-tight;
	}
}
